@page
@model IndexModel
@{
    ViewData["Title"] = "课表显示";
}
<h2>
    @ViewData["Title"]
</h2>
<hr />
<form method="post">
    <h4>查询课表</h4>
    <div class="form-group">
        <label asp-for="Input.SemesterId"></label>
        <select asp-for="Input.SemesterId" class="form-control">
            <option value="" selected>---所有---</option>
            @foreach (var item in Model.Semester)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="Input.SemesterId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">查询</button>
</form>
<hr />
<form method="post">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <td>课程编号</td>
                <td>学期</td>
                <td>课程名</td>
                <td>下载学生花名册</td>
                <td></td>
            </tr>
        </thead>
        @foreach (var item in Model.Course)
        {
            <tr>
                <td>@item.ClassId</td>
                <td>@item.Semester.Name</td>
                <td>@item.Class.Name</td>
                <td>
                    <a asp-page-handler="GetStudentList" asp-route-id="@item.Id" class="btn btn-default">学生花名册</a>
                </td>
                <td>
                    <a asp-page="Achievement" asp-route-CourseId="@item.Id" class="btn btn-default">修改学生成绩</a>
                </td>
            </tr>
        }
    </table>
</form>
